{% extends 'base.html' %}

{% block content %}

<div class="container-fluid" id="mainbox">
    <h1 class="center" style="padding: 1em;text-align: center"><b><u>Tim's Personal Site</u></b></h1>

    <div>
        <h4><u>About me:</u></h4>
        <figure>
            <img src="static/img/me.jpeg" class="rounded float-right me" alt="...">
            <figcaption> Einstein and me</figcaption>
        </figure>
        <p>{{ aboutme }}</p>

    </div>
    <div>
        <h4><u>About me:</u></h4>
        <p>{{ aboutme }}</p>
    </div>




    <p style="text-align: center">MY PERSONAL WEBSITE</p>
    <h3 class="center" style="padding-top: 3em;text-align: center">Under construction!!!!</h3>
    <img src="static/img/icons8-github-96.png" class="rounded float-right" alt="...">
</div>



{% endblock %}