* { box-sizing: border-box; }
body {
  font: 16px Arial;
}

img.center {
  display: block;
  margin: 0 auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

#mainbox
{  border:3px solid black;
  margin-top: 2em;
  width: 70%;
  min-width: 350px;
  margin-bottom: 2em;
}
.me
{
  width: 20em;
  height: 20em;
  margin-right: 3em;
}